
<html>
    <head>
        <link rel="stylesheet" href="/assets/stylesheets/shared/sliderSachal.scss"> 
    </head>
    
    <body>  
        
        <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
            <div class='carousel-outer'>
                <!-- Wrapper for slides -->
                <div class='carousel-inner'>
                
                    <div class='item'> <%= image_tag "Mate10.jpeg",alt: "Los Angeles"%> </div>
                    <div class='item active'> <%= image_tag "Galaxy_S9.1.jpg",alt: "Los Angeles"%> </div>
                    
                </div>
    
                <!-- Controls -->
                <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                    <span class='glyphicon glyphicon-chevron-left'></span>
                </a>
                <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                    <span class='glyphicon glyphicon-chevron-right'></span>
                </a>
            </div>
    
            <!-- Indicators -->
    
    </body>
</html>