<p id="notice"><%= notice %></p>

<p>
  <strong>Departments subdepartments brands:</strong>
  <%= @controlle.departments_subdepartments_brands %>
</p>

<%= link_to 'Edit', edit_controlle_path(@controlle) %> |
<%= link_to 'Back', controlles_path %>
