<!-- Row 1 -->
<div class="row">
    <div class="col-sm-8" style="background-color: darkgray">
       <!-- Put slider --> 
       <%=render 'layouts/slider'%>
    </div>
    
      <div class="col-sm-2" >
          
      </div>      
      
    <div class="col-sm-2">
        
        <div id = "box1" style="background-color:gray">
            <h1>Box 1</h1>
        </div>
        
        <div id= "box2"style="background-color:darkgray">
            <h1>Box 2</h1>
        </div>
        
    </div>
</div>
<hr>
